* { margin:0; padding:0;}
html, body {height:100%; width:100%}
body {background-color: #000000;}
/*canvas {display:block;background:url(img/bg.png);background-repeat: no-repeat;  }*/
#streetView {position:absolute; top:0; left:0; z-index: 0;}
#canvasContainer {position: relative; z-index: 1; width: 1024px; height: 768px;}
#main {position: relative;}
img {width:1024px; height: 768px;}